services:
  web:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - runner

  runner:
    build: ./runner
    ports:
      - "8081:8081"
    volumes:
      - ../courses:/courses:ro
    tmpfs:
      - /tmp:size=512M,exec
    mem_limit: 1g
    cpus: 2
